LABEL arch
TEXT HELP
Boot the Custom Arch Linux KDE Live on BIOS.
Read the live system from the boot media. Keep the media connected.
ENDTEXT
MENU LABEL Custom Arch Linux KDE Live - Normal (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram=n cow_spacesize=4G %KERNEL_PARAMS%

LABEL archram
TEXT HELP
Copy the compressed live system to RAM before starting.
Uses additional memory and takes longer to start.
ENDTEXT
MENU LABEL Custom Arch Linux KDE Live - Copy to RAM (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram=y cow_spacesize=4G %KERNEL_PARAMS%

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the Custom Arch Linux KDE Live on BIOS with speakup screen reader.
It allows you to install Arch Linux or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Custom Arch Linux KDE Live (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram=n cow_spacesize=4G accessibility=on %KERNEL_PARAMS%

# LTS kernel boot options
LABEL archlts
TEXT HELP
Boot the Custom Arch Linux KDE Live (linux-lts) on BIOS.
Read the live system from the boot media. Keep the media connected.
ENDTEXT
MENU LABEL Custom Arch Linux KDE Live (linux-lts) - Normal (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram=n cow_spacesize=4G %KERNEL_PARAMS%

LABEL archltsram
TEXT HELP
Copy the compressed live system to RAM before starting.
Uses additional memory and takes longer to start.
ENDTEXT
MENU LABEL Custom Arch Linux KDE Live (linux-lts) - Copy to RAM (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram=y cow_spacesize=4G %KERNEL_PARAMS%

# Accessibility boot option
LABEL archltsspeech
TEXT HELP
Boot the Custom Arch Linux KDE Live (linux-lts) on BIOS with speakup screen reader.
It allows you to install Arch Linux or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Custom Arch Linux KDE Live (linux-lts) (%ARCH%, BIOS) with speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram=n cow_spacesize=4G accessibility=on %KERNEL_PARAMS%
